<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>POS</b>ko</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in</p>
      <%= render "errors", object: @sign_in_form %>
      <%= form_for @sign_in_form, url: sign_in_path do |f| %>
        <div class="form-group has-feedback">
          <%= f.text_field :account_name, class: "form-control", placeholder: "Account ID" %>
          <span class="glyphicon glyphicon-briefcase form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
          <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
              <a href="#" class="text-right">Forgot password?</a>
            </div>
          </div>
        </div>

        <div class="form-group">
          <%= f.submit "Sign In", class: "btn btn-primary btn-block btn-flat" %>
        </div>
        <div class="form-group">
          <%= link_to "Sign Up", sign_up_path, class:"btn btn-success form-control" %>
        </div>
      <% end %>
  </div>
</div>
<div>

</div>
<div>
</div>
