<%= form_for @component do |f| %>
  <div class="box-header">
    <h3 class="box-title">Edit Component</h3>
    <div class="box-tools pull-right">
      <div class="btn-group">
        <%= link_to "Cancel",components_path, class: "btn btn-danger" %>
      </div>

      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="box-body">
      <div class="form-group">
        <%= f.label :variant_id %>
        <%= f.text_field :variant_id, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :quantity %>
        <%= f.number_field :quantity, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :cost %>
        <%= f.text_field :cost, class: "form-control", readonly: true %>
      </div>
  </div>
<% end %>
