<div>
  <%= form_for customer do |f| %>
    <%= render "errors", object: customer %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div>
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
