<%= form_for @variant do |f| %>
  <div class="box-header">
    <h3 class="box-title">Edit Variant</h3>
    <div class="box-tools pull-right">
      <div class="btn-group">
        <%= link_to "Cancel",variants_path, class: "btn btn-danger" %>
      </div>

      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  </div>
  <div class="box-body">
      <% @product.option_types.each do |option_type| %>
        <div class="form-group">
          <%= f.label :option_value_ids %>
          <%= f.select :option_value_ids, option_type.option_values.map{ |ov| [ov.name, ov.id]}, {}, class: "form-control",
          name: "variant[option_value_ids][]" %>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :price %>
        <%= f.number_field :price, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :sku %>
        <%= f.text_field :sku, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :variant_type %>
        <%= f.select :variant_type, Variant.variant_types.map {|p| [p[0].capitalize, p[0]]}, {}, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :selling_policy %>
        <%= f.select :selling_policy, Variant.selling_policies.map {|p| [p[0].capitalize, p[0]]}, {}, class: "form-control"%>
      </div>
  </div>
<% end %>
