<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>POS</b>ko</a>
  </div>
  <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Sign Up</p>
      <%= render "errors", object: @registration_form %>
      <%= form_for @registration_form, url: sign_up_path do |f| %>
        <div class="form-group">
          <%= f.label :account_name %>
          <%= f.text_field :account_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :company %>
          <%= f.text_field :company, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "Sign Up", class: "btn btn-primary btn-block btn-flat"%>
          <p>
            Already have an account?
            <%= link_to "Sign In", sign_in_path %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
